
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* background-color: #FCF6F5FF; */
    margin: 50px auto;
    padding: 20px;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.form-container h1 {
    font-weight: 800;
}

.input-data {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* box-sizing: border-box; */
}

.btn {
    display: flex;
    justify-content: center;
    gap: 1rem; 
    margin-top: 1.5rem;
}

.btn1,
.btn2 {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn1 {
    background-color: #0056b3; 
    color: white;
}

.btn1:hover {
    background-color: #003d80;
    transform: scale(1.05); 
}

.btn2 {
    background-color: #0056b3; 
    color: white;
}

.btn2:hover {
    background-color: #003d80;
    transform: scale(1.05);
}

@media screen and (max-width: 768px) {
    .form-container {
        padding: 15px;
        margin: 70px auto;
        max-width: 75%;
    }

    .form-container h1 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .input-data {
        width: 50%;
        font-size: 16px;
        padding: 8px;
    }

    .btn {
        /* flex-direction: column; */
        align-items: center;
        font-size: 14px;
        gap: 0.8rem;
    }

    .btn1,
    .btn2 {
        width: 75%; 
    }
}

@media screen and (max-width: 480px) {
    .form-container {
        padding: 10px;
        margin: 25% auto;
        max-width: 75%;
        max-height: 200px;
    }

    .form-container h1 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .input-data {
        width: 60%;
        font-size: 14px;
        padding: 6px;
    }

    .btn {
        gap: 0.5rem;
    }

    .btn1,
    .btn2 {
        width: 80%; 
        font-size: 12px; 
        padding: 0.7rem 1.2rem; 
    }
}